.farm {
	position: relative;
	margin: 0 auto;
	width: 1393px;
	height: 783px;
	background: url('@/assets/img/farm/farm_daytime.jpg');
}
.farm-land {
	position: absolute;
	width: 360px;
	height: 360px;
	background-color: rgba(137, 81, 189, 0.603);
}